<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BrowserSelect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BrowserSelect.Properties.Settings>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="check_update" serializeAs="String">
                <value>nope</value>
            </setting>
            <setting name="last_version" serializeAs="String">
                <value>nope</value>
            </setting>
            <setting name="BrowserList" serializeAs="String">
                <value />
            </setting>
        </BrowserSelect.Properties.Settings>
    </userSettings>
</configuration>